-----BEGIN CERTIFICATE-----
MIICEDCCAbugAwIBAgIUYMznJxQSMBktCbNQWa4ep9zjKC4wDAYIKoUDBwEBAwIF
ADBkMQswCQYDVQQGEwJSVTEPMA0GA1UECAwGTW9zY293MQ8wDQYDVQQHDAZNb3Nj
b3cxEDAOBgNVBAoMB0V4YW1wbGUxCzAJBgNVBAsMAklUMRQwEgYDVQQDDAtleGFt
cGxlLmNvbTAeFw0yNDAxMjIxMDM4MzlaFw0yNTAxMjExMDM4MzlaMGQxCzAJBgNV
BAYTAlJVMQ8wDQYDVQQIDAZNb3Njb3cxDzANBgNVBAcMBk1vc2NvdzEQMA4GA1UE
CgwHRXhhbXBsZTELMAkGA1UECwwCSVQxFDASBgNVBAMMC2V4YW1wbGUuY29tMGYw
HwYIKoUDBwEBAQEwEwYHKoUDAgIjAQYIKoUDBwEBAgIDQwAEQKk4i0rmpp/De1kZ
n1Hv2JLzWRnjzzGAfykjC8poDDtWRImFF8dMp31/LLCq59ITNnbVXROxnOfMiNDB
Bs3eW+ijPDA6MAwGA1UdEwQFMAMBAf8wCwYDVR0PBAQDAgXgMB0GA1UdDgQWBBSo
8JZb8QWVktE4bPMnZZiTUrLERDAMBggqhQMHAQEDAgUAA0EAG21gqP4uX2SF06xy
LM7+vswfrvNySaWfMTqNE4Z5TRfg4tp5nZxi9E6pXw4Kbvs6DgKPaavcly3BOxmr
PIPrWA==
-----END CERTIFICATE-----
